In [1]:
import os
import json
import glob
import pandas as pd
import pickle
import numpy as np
import ast
import logging

In [4]:
!ls

Aptfile                       functions
Procfile                      monitoring.py
Untitled.ipynb                outputs
Vehicle insurance churn.ipynb requirements.txt
__pycache__                   setup.py
app.py                        test_model.py
clean_data.py                 train.py
datasets

In [36]:
input_data = glob.glob(f'datasets/*.csv')
current_data=glob.glob(f'datasets/cleaned_data*.csv')
latest_data=[max(input_data, key=os.path.getctime)]


pd.concat([pd.read_csv(i) for i in (current_data)])

,Unnamed: 0,city,churn,type_of_plan,highest_level_education,work_status,sex,relationship_status,payment_per_month,weeks_since_claim,open_policies,Renew_Offer_Type,reachability,type_of_vehicle
0,0,Tamale,No,primary_plan,Bachelor,Employed,female,Married,138,138,1,1,contacting_agent,2-door_car
1,1,Takoradi,No,extended_plan,Bachelor,Unemployed,female,Single,188,56,8,3,contacting_agent,4-door_car
2,2,Cape_coast,No,premium_plan,Bachelor,Employed,female,Married,216,77,2,1,contacting_agent,2-door_car
3,3,Accra,No,primary_plan,Bachelor,Unemployed,male,Married,212,77,7,1,customer_call_centre,SUV
4,4,Tamale,No,primary_plan,Bachelor,Employed,male,Single,146,52,1,1,contacting_agent,4-door_car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129,Accra,No,primary_plan,Bachelor,Employed,male,Married,146,77,2,2,via_the_web,4-door_car
9130,9130,Accra,Yes,extended_plan,College,Employed,female,Divorced,158,60,1,1,contacting_branch_directly,4-door_car
9131,9131,Accra,No,extended_plan,Bachelor,Unemployed,male,Single,170,39,2,1,contacting_branch_directly,4-door_car
9132,9132,Accra,No,extended_plan,College,Employed,male,Married,192,146,3,3,contacting_branch_directly,4-door_car
9133,9133,Accra,No,extended_plan,College,Unemployed,male,Single,154,13,1,4,customer_call_centre,2-door_car

In [19]:
latest_data

'datasets/cleaned_data.csv'

In [21]:
glob.glob(f'datasets/cleaned_data*.csv')

['datasets/cleaned_data.csv']

In [29]:
print(input_data)
print(current_data)
print(latest_data)

['datasets/cleaned_data.csv', 'datasets/raw_data.csv']
['datasets/cleaned_data.csv']
['datasets/cleaned_data.csv']

In [42]:
with open('outputs/recall_score.txt', 'r') as fp:
    contents=ast.literal_eval(fp.read())

In [43]:
contents

0.8931297709923665

In [54]:
new_recall=0.81

In [53]:
0.5+contents

1.3931297709923665

In [58]:
print(new_recall>contents)

#print((newr2)< (np.mean(contents)-(2*np.std(contents))))

False

In [62]:
new_recall>np.max(contents)

False

In [65]:
input_data = glob.glob(f'datasets/*.csv')
current_data=glob.glob(f'datasets/cleaned_data*.csv')
latest_data=[max(input_data, key=os.path.getctime)]
if latest_data == current_data:
    print('no new data available')
    print('end process')
    exit
else:
    print('new_data_available')
    with open('outputs/recall_score.txt', 'r') as fp:
        previous_recall_score=ast.literal_eval(fp.read())
    os.system('clean_data.py')
    os.system('train.py')
    with open('outputs/recall_score.txt', 'r') as fp:
        current_recall_score=ast.literal_eval(fp.read())
    if current_recall_score<np.max(previous_recall_score)!=True:
        print('model_drift not occurred')
        print('end process')
        exit
    else:
         print('model_drift occurred')
         print('further_investigation_warranted')

no new data available
end process

In [ ]:
#ingested_files = open(f'{prod_path}/ingestedfiles.txt', 'r')
input_data=glob.glob(f'datasets/*.csv')
latest_data=max(input_data, key=os.path.getctime)
if latest_data

In [12]:
max(input_data, key=os.path.getctime)

'datasets/cleaned_data.csv'

In [8]:
max(input_data)

'datasets/raw_data.csv'

In [ ]:
current_datasets = glob.glob(f'{input_folder_path}/*.csv')
        with open('ingesteddata/ingestedfiles.txt', 'w') as f:
            for dataset in current_datasets:
                f.write(dataset[13:])
                f.write('\n')

In [ ]:
for x in ingested_files:
        for y in input_data:
             result=x==y